
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
            <a target="_blank"
               href="https://appseed.us/admin-dashboards/django-star-admin">Product Page</a>
        </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
            &copy; <a target="_blank" href="https://bit.ly/2UTgih5">BootstrapDash</a> - Coded by AppSeed.    
        </span>
    </div>
</footer>
