{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block divclass %} auth-bg-1 {% endblock divclass %}

{% block content %}

    <div class="row w-100">
        <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
            
            <center>
                <h2 class="text-center mb-4">Login</h2>

                {% if msg %}
                    <span class="text-danger">{{ msg | safe }}</span>
                {% else %}
                    Use default credentials: <strong>test / ApS12_ZZs8</strong>
                {% endif %}
                
            </center>

            <br />    
            <form method="post" action="">

                {% csrf_token %}

                <div class="form-group">
                <label class="label">Username</label>
                <div class="input-group">
                    {{ form.username }}
                    <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                    </div>
                </div>
                </div>
                <div class="form-group">
                <label class="label">Password</label>
                <div class="input-group">
                    {{ form.password }}
                    <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                    </div>
                </div>
                </div>
                <div class="form-group">
                <button type="submit" name="login" class="btn btn-primary submit-btn btn-block">Login</button>
                </div>
                <div class="form-group d-flex justify-content-between">
                <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" checked> Keep me signed in </label>
                </div>
                <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
                </div>

                
                <div class="text-block text-center my-3">
                <span class="text-small font-weight-semibold">Not a member?</span>
                <a href="{% url 'register' %}" class="text-black text-small">Create new account</a>
                </div>
            </form>
            </div>
            <ul class="auth-footer">
            <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://github.com/app-generator/django-dashboard-staradmin">Sources</a>
            </li>
            <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://appseed.us/admin-dashboards/django-dashboard-staradmin">Product</a>
            </li>
            <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://appseed.us">AppSeed</a>
            </li>
            </ul>
            <p class="footer-text text-center">
                &copy; <a class="text-white"
                          target="_blank" rel="sponsored noopener noreferrer" 
                          href="https://www.bootstrapdash.com/product/star-admin-free/?ref=23">BootstrapDash</a> 
                     - Coded by <a class="text-white" 
                          target="_blank" rel="noopener noreferrer"
                          href="https://appseed.us/">AppSeed</a>
            </p>
        </div>
    </div>

{% endblock content %}
